@page
@model IndexModel
@{
    ViewData["Title"] = "WELCOME ";
}

<div class="text-center">
    <h1 class="display-4">WELCOME TO POC</h1>
    <h1 style="background-color:DodgerBlue;">Hello World</h1>	
    </div>
